body {
  background-color: white;
}

/* TOGGLE WRAPPER */
.colab-toggle {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  background-color: #e5e7eb;
  width: 397px;
  align-items: center;
  height: 39px;
  border-radius: 14px;
}

/* BUTTON */
.colab-btn {
  border: none;
  padding: 8px 28px;
  border-radius: 12px;
  background: #e5e7eb;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

/* ACTIVE BUTTON */
.colab-btn.active {
  background: #fff;

  color: #14b8a6;
}

/* SECTION VISIBILITY */
.colab-section {
  display: none;
}

.colab-section.active {
  display: block;
}

.info-row1 {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  flex-direction: column;
  gap: 13px;
}

.info-row1 strong {
  font-weight: 100;
}

.looking1 {
  margin-top: 12px;
  margin-bottom: 45px;
}

.plot-tag1 {
  background: #14b8a6;
  color: #fff;
  display: inline-block;

  padding: 6px 12px;
  border-radius: 6px;
  margin-top: 6px;
  font-size: 13px;
}
.plot-contact1 {
  flex: 1;
  background: #ff7a45;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  height: min-content;
}

.projects {
  background-color: #fff1eb;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
  color: #ff6b35;
}

.location-bldr {
  color: #ff6b35 !important;
}

.plot-card1 {
  background: #fff;
  border-radius: 14px;
  border-left: 5px solid #ff7a45 !important;
  padding: 25px;
  border: 1px solid #0000001c;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}
